@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
html, body { height: 100%; }

body {
  @apply bg-white text-zinc-950 antialiased;
}

a { @apply underline-offset-4; }

input, select, textarea {
  @apply bg-white;
}
